* {
    box-sizing: border-box;
}

img[src*="logo1"] {
    border-width: 10px;
    border-color: red;
    border-style: solid;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

form,
nav ul {
    margin: 0;
    padding: 0;
}

input[type="text"] {
    border-radius: 999px;
}